<h3>Please input the words, separated by a comma or space:</h3>
  <form action='/display'>
    <div class="form-group">
      <label for="sentence">Words:</label>
      <input id="sentence" name="sentence" class="form-control">
    </div>
    <button type="submit" class="btn">Go!</button>
  </form>
